* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: url("../images/blackdiamond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Merriweather', sans-serif;
  font-size: 20px;
}

/*NAVBAR SECTION */

.container {
  width: 80%;
  margin: 0 auto;
}

span {
  font-weight: bold;
  color: #444;
}

header {
  background: linear-gradient(LightCyan, #444);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  width: 100px;
  height: 80px;
  float: left;
  padding: 0 0;
  margin-top: 35px;
  font-size: 1.8em;

}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 45px;

/* pseudo-element for hover effect */
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  color: black;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  width: 100%;
  top: 25px;
  width: 0;

/* pseudo-element for hover effect */
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/*RESUME SECTION */

.resume h1 {
  font-size: 3em;
  margin-top: 100px;
  text-align: center;
  color: LightCyan;
  margin-bottom: 50px;
  text-decoration: underline;
}

.resumelink {
  text-align: center;
}

.resumelink a {
  color: LightCyan;
}

/* Media Queries */

